body{
  align-items: center;
  text-align: center;
  background-color: black;
}
.d1{
  height: 100px;
  width:100px;
  margin: 0 auto;
  margin-top: 250px;
  margin-left: 650px;
}
.eye1{
  background-color: rgb(255, 255, 255);
   border: 50px 50px 0px 25px;
  border-radius: 30px;
  height:22px;
  width: 25px;position: relative;
  left: 785px;top:17px; 
}
.eye2{
  background-color: rgb(255, 255, 255);
  border: 50px 50px 0px 25px;
  border-radius: 80px;
  height:24px;
  width: 27px;position: relative;
  left: 845px;top: 10px; 
}
.ball{
  background-color: rgb(33, 24, 24);
  border: 50px 50px 0px 25px;
  border-radius: 30px;
  height:8px;
  padding: auto;
  width: 8px;position: relative;
  left: 295px;top: 5px; 
  position: absolute;
} 